@import "../../Styles/mixin";

.rootHeader {
  background-color: #20232a;
  height: 80px;
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top: 0;
  display: flex;
  justify-content: space-between;
  color: #61dafb;
  padding: 0 30px;
  z-index: 20;

  @include mQ(500px) {
    padding: 0 20px;
  }

  .logoBox {
    @include center-flex();
    font-size: 40px;

    @include mQ(500px) {
      font-size: 7vw;
    }
  }

  .navBox {
    @include center-flex();

    @include mQ(500px) {
      font-size: 3.4vw;
    }

    a {
      color: #61dafb;
      margin-right: 5vw;

      @include mQ(500px) {
        margin-right: 3vw;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}